/**
 * Display Flex
 */

@include at-least($small-screen) {
  .Flex {
    display: flex;
    justify-content: space-between;
  }
}

.Flex-1 {
  flex: 1;
}

.Flex-2 {
  flex: 2;
}

.Flex-3 {
  flex: 3;
}
