.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1240px;
  width: 90%;
}

@include at-least($phone-wide) {
  .Grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($small-screen) {
  .Grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
