/**
 * Component: Card Block
 */

 // This is the core component assigned to every card

.Card {
  background: $color-white;
  border: solid 1px $color-grey-30;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  }
}

/**
 * Component Modifier: Card Landscape
 */


 // Use modifier after .Card to create a landcape style card layout

.Card--landscape {
  display: grid;
  grid-template-columns: 1fr;
}

@include at-least($phone-wide) {
    .Card--landscape {
      grid-template-columns: 1fr 1fr;
    }
}

 // Use modifier after .Card to create a card with rounded corners

.Card--radius {
  border-radius: $radius--10;
}

// Use modifier after .Card-thumb to create the corect border raduis for portrait style cards

.Card-thumb--portrait {
  border-radius: $radius--10 $radius--10 0 0;
}

// Use modifier after .Card-thumb to create the corect border raduis for landscape style cards

.Card-thumb--landscape {
  border-radius: $radius--10 $radius--10 0 0;
}

@include at-least($phone-wide) {
 .Card-thumb--landscape {
   border-radius: $radius--10 0 0 0;
 }
}


/**
 * Component: Card elements
 */


.Card-thumb {
  background: $color-grey-90;
  background-size: cover;
  background-position: center center;
  min-height: 134px;
  position: relative;
  height: 100%;
}

.Card-location {
  color: $color-grey-60;
  font-size: $font-size--s;
  position: relative;

  i {
    color: $color-brand;
    position: absolute;
    top: 2px;
  }
}

.Card-description {
  color: $color-grey-60;
  font-size: $font-size--s;
  min-height: 72px;
}

.Card-text-links {
  a {
    display: block;
  }
}
// Card flexbox

.Card-flex {
  display: flex;
  justify-content: space-between;
}

// Use to create a grid within a card

.Card-grid {
  display: grid;
  grid-gap: 0 16px;
}

// Use to modify .Card-grid with the correct number of grid columns the card requires.

.Card-grid--2 {
  grid-template-columns: 1fr 1fr;
}

.Card-grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.Card-grid--4 {
  grid-template-columns: 1fr 1fr;
}

.Card-grid--5 {
  grid-template-columns: 1fr 1fr;
}

.Card-grid--6 {
  grid-template-columns: 1fr;
}

@include at-least($small-screen) {
  .Card-grid--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .Card-grid--5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .Card-grid--6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
