// UI Colors

.color-brand {
  color: $color-brand !important;
}

// UI Greyscale

.color-white {
  color: $color-white;
}

.color-grey-80 {
  color: $color-grey-80;
}

.color-grey-60 {
  color: $color-grey-60;
}

.color-grey-30 {
  color: $color-grey-30;
}

.color-green {
  color: $color-positive;
}
