// UI Colors

.color-brand {
  color: $color-brand !important;
}

// UI Greyscale

.color-white {
  color: $color-white !important;
}

.color-grey-80 {
  color: $color-grey-80 !important;
}

.color-grey-60 {
  color: $color-grey-60 !important;
}

.color-grey-50 {
  color: $color-grey-50 !important;
}

.color-grey-30 {
  color: $color-grey-30 !important;
}

.color-green {
  color: $color-positive !important;
}
