// UI Colors

.Color--brand, .Color--info {
  color: $color-brand !important;
}

.Color--danger {
  color: $color-negative !important;
}

.Color--success {
  color: $color-success !important;
}

.Color--warning {
  color: $color-warning !important;
}

// UI Greyscale

.Color--white {
  color: $color-white;
}

.Color--dark {
  color: $color-grey-80;
}

.Color--grey-dark {
  color: $color-grey-60;
}

.Color--grey-light {
  color: $color-grey-30;
}
