// margin all

.ma5 {
  margin: 32px;
}

.ma4 {
  margin: 24px;
}

.ma3 {
  margin: 16px;
}

.ma2 {
  margin: 8px;
}

.ma1 {
  margin: 4px;
}

.ma0 {
  margin: 0;
}


// margin top

.mt5 {
  margin-top: 32px;
}

.mt4 {
  margin-top: 24px;
}

.mt3 {
  margin-top: 16px;
}

.mt2 {
  margin-top: 8px;
}

.mt1 {
  margin-top: 4px;
}

.mt0 {
  margin-top: 0;
}

// margin left

.ml5 {
  margin-left: 32px;
}

.ml4 {
  margin-left: 24px;
}

.ml3 {
  margin-left: 16px;
}

.ml2 {
  margin-left: 8px;
}

.ml1 {
  margin-left: 4px;
}

.ml0 {
  margin-left: 0;
}

// margin right

.mr5 {
  margin-right: 32px;
}

.mr4 {
  margin-right: 24px;
}

.mr3 {
  margin-right: 16px;
}

.mr2 {
  margin-right: 8px;
}

.mr1 {
  margin-right: 4px;
}

.mr0 {
  margin-right: 0;
}
