// padding all

.pa5 {
  padding: 32px;
}

.pa4 {
  padding: 24px;
}

.pa3 {
  padding: 16px;
}

.pa2 {
  padding: 8px;
}

.pa1 {
  padding: 4px;
}

.pa0 {
  padding: 0;
}


// padding top

.pt5 {
  padding-top: 32px;
}

.pt4 {
  padding-top: 24px;
}

.pt3 {
  padding-top: 16px;
}

.pt2 {
  padding-top: 8px;
}

.pt1 {
  padding-top: 4px;
}

.pt0 {
  padding-top: 0;
}

// padding left

.pl5 {
  padding-left: 32px;
}

.pl4 {
  padding-left: 24px;
}

.pl3 {
  padding-left: 16px;
}

.pl2 {
  padding-left: 8px;
}

.pl1 {
  padding-left: 4px;
}

.pl0 {
  padding-left: 0;
}

// padding right

.pr5 {
  padding-right: 32px;
}

.pr4 {
  padding-right: 24px;
}

.pr3 {
  padding-right: 16px;
}

.pr2 {
  padding-right: 8px;
}

.pr1 {
  padding-right: 4px;
}

.pr0 {
  padding-right: 0;
}
