<div class="Container Container--bg-grey">

    <div class="Grid">

        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card Card--landscape">
                <div class="Card-thumb Card-thumb--landscape">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--square"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->
                    <div class="Progress">
                        <div class="Progress-bar Progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                    </div><!-- /.Progress -->
                </div><!-- /.Card-thumb -->

                <article class="Card-content">
                    <div class="Card-title">
                        <h3><a class="u-link--bare" href="#">Fusion Complex</a></h3>
                    </div>
                    <p class="Card-description">Comprising of three, three bedroom apartments and three two bedroom apartments this secure, modern development has the design team's signature architectural finish, attention to detail.</p>
                    <div class="Card-grid Card-grid--4">
                        <div class="Card-grid-item">
                            <span class="Card-grid-value"><strong>£25,000</strong></span>
                            <p class="Card-grid-label">Min. Investment</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-grid-value"><strong>£1,000,000</strong></span>
                          <p class="Card-grid-label">Needed</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-grid-value"><strong>80%</strong></span>
                          <p class="Card-grid-label">Raised</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-grid-value"><strong>53</strong></span>
                          <p class="Card-grid-label">Days left</p>
                        </div><!-- /.Card-grid-item -->
                    </div><!-- /.Card-grid -->
                    <div class="Card-location">
                        <i class="material-icons md-18">location_on</i>
                        <p>449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                    </div>
                    <div class="Card-actions">
                      <a href="#" class="Button Button--primary Button--s">Find out more</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">delete</i></a>
                    </div><!-- /.Card-actions -->
                </article><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->

        <!-- grid item, containing a card -->
        <div class="item-2">
            <div class="Card Card--landscape">
                <div class="Card-thumb Card-thumb--landscape">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--square"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->
                    <div class="Progress">
                        <div class="Progress-bar Progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                    </div><!-- /.Progress -->
                </div><!-- /.Card-thumb -->

                <article class="Card-content">
                    <div class="Card-title">
                        <h3><a class="u-link--bare" href="#">Fusion Complex</a></h3>
                    </div>
                    <p class="Card-description">Comprising of three, three bedroom apartments and three two bedroom apartments this secure, modern development has the design team's signature architectural finish, attention to detail.</p>
                    <ul class="Card-list">
                        <li> £35k revenues in 4-month Beta trial </li>
                        <li> 430 educators in 33 countries already using HowNow </li>
                        <li> 100% client retention with very positive feedback </li>
                        <li> Clients include Jessops and SOAS </li>
                        <li> £750k of £1m round already committed </li>
                    </ul>
                    <div class="Card-grid Card-grid--3">
                        <div class="Card-grid-item">
                            <span class="Card-grid-value"><strong>£25,000</strong></span>
                            <p class="Card-grid-label">Min. Investment</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-grid-value"><strong>£1,000,000</strong></span>
                          <p class="Card-grid-label">Needed</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-grid-value"><strong>80%</strong></span>
                          <p class="Card-grid-label">Raised</p>
                        </div><!-- /.Card-grid-item -->
                    </div><!-- /.Card-grid -->
                    <div class="Card-actions">
                      <a href="#" class="Button Button--primary Button--s">Find out more</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">delete</i></a>
                    </div><!-- /.Card-actions -->
                </article><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div>



    </div><!-- /.Grid -->
</div><!-- /.Container -->
