<div class="Container Container--bg-grey">

    <div class="Grid">

        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card">
                <div class="Card-thumb">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--square"></div>
                        </div>
                    </div>
                </div>
                <article class="Card-content">
                    <h1 class="Card-title">Post title</h1>
                    <span class="Card-author">Author</span>
                </article>
            </div>
        </div>

        <!-- grid item, containing a card -->
        <div class="item-2">
            <div class="Card">
                <div class="Card-thumb"></div>
                <article class="Card-content">
                    <h1 class="Card-title">Post title</h1>
                    <span class="Card-author">Author</span>
                </article>
            </div>
        </div>

        <!-- grid item, containing a card -->
        <div class="item-3">
            <div class="Card">
                <div class="Card-thumb"></div>
                <article class="Card-content">
                    <h1 class="Card-title">Post title</h1>
                    <span class="Card-author">Author</span>
                </article>
            </div>
        </div>

        <!-- grid item, containing a card -->
        <div class="item-4">
            <div class="Card">
                <div class="Card-thumb"></div>
                <article class="Card-content">
                    <h1 class="Card-title">Post title</h1>
                    <span class="Card-author">Author</span>
                </article>
            </div>
        </div>

    </div><!-- /.Grid -->
</div><!-- /.Container -->
