<div class="Container Container--bg-grey">
    <div class="Grid">
        <!-- grid item, containing a card -->
        <div class="item-1">
          <div class="Card">
              <div class="pa4">
                  <div class="Flex">
                      <div class="Flex-item">
                          <img src="#" alt="image">
                      </div><!-- /.Flex-item -->
                      <div class="Flex-item">
                          <h3 class="Card-title"><a class="u-link--bare" href="#">Fusion Complex</a></h3>
                          <div class="Card-location mt2">
                              <i class="material-icons md-18">location_on</i>
                              <p class="ml4">449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                          </div>
                      </div><!-- /.Flex-item -->
                      <div class="Flex-item">
                          <div class="Card-avatar">
                              <div class="Avatar Avatar--square Avatar--s" style="background: #4A8CFF;">
                                  <div class="Avatar--initials">SS</div>
                                  <div class="Avatar--img Avatar--square"></div>
                              </div><!-- /.Avatar -->
                          </div><!-- /.Card-avatar -->
                      </div><!-- /.Flex-item -->
                      <div class="Flex-item">
                          <p class="Card-label">Developer</p>
                          <p>Evergreen Developments</p>
                      </div><!-- /.Flex-item -->
                      <div class="Flex-item">
                          <div class="Select Select--default Select--m">
                              <select>
                                  <option value="">Option 1</option>
                                  <option value="">Option 2</option>
                                  <option value="">Option 3</option>
                                  <option value="">Option 4</option>
                                  <option value="">Option 5</option>
                              </select>
                          </div><!-- /.Select -->
                      </div><!-- /.Card-grid-item -->
                      <div class="Flex-item">
                          <ul>
                              <li><a href="#">View Full Listing</a></li>
                              <li><a href="#">View Message History</a></li>
                              <li><a href="#">Contact Developer</a></li>
                          </ul>
                      </div><!-- /.Flex-item -->

                  </div><!-- /.Flex -->
              </div><!-- /.Card-content -->
          </div><!-- /.Card -->
        </div><!-- /.item-1 -->
    </div><!-- /.Grid -->
</div><!-- /.Container -->
