<div class="Container bg-grey">

    <div class="Grid Grid--3">

        <!-- grid item, containing a card -->
        <div class="Grid-item">

            <div class="Card Card--radius">
                <div class="Card-thumb Card-thumb--portrait pa4">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--round"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->

                </div><!-- /.Card-thumb -->
                <article class="pa4">
                  <p class="f2 color-grey-60">Investment Range</p>
                  <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">£74,680 - £224,040</a></h3>
                    <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy, new apps, artificial intelligence and new technology.</p>
                    <div class="f2 mt3">
                        <span><strong>Areas of Expertise</strong></span>
                        <p class="color-grey-60">Renewable Energy, Artificial Intelligence</p>
                    </div><!-- /.Card-expertise -->
                    <div class="Card-location mt3">
                        <i class="material-icons md-18">location_on</i>
                        <p class="ml4">London, UK</p>
                    </div>
                    <div class="mt3">
                        <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                        <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                        <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                            <i class="material-icons md-18">star</i>
                            <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                        </a><!-- /.Icon -->
                    </div><!-- /.Card-actions -->
                </article><!-- /.pa4 -->
            </div><!-- /.Card -->
        </div><!-- /.Grid-item -->

        <!-- grid item, containing a card -->
        <div class="Grid-item">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="f2 color-grey-60">Investment Range</p>
                  <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">£74,680 - £224,040</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector.</p>
                  <div class="f2 mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p class="color-grey-60">Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                          <i class="material-icons md-18">star</i>
                          <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                      </a><!-- /.Icon -->
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div><!-- /.item-2 -->

        <!-- grid item, containing a card -->
        <div class="Grid-item">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="f2 color-grey-60">Investment Range</p>
                  <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">£74,680 - £224,040</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy.</p>
                  <div class="f2 mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p class="color-grey-60">Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                          <i class="material-icons md-18">star</i>
                          <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                      </a><!-- /.Icon -->
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div><!-- /.Grid-item -->

        <!-- grid item, containing a card -->
        <div class="Grid-item">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="f2 color-grey-60">Investment Range</p>
                  <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">Rs.5,00,000,000 - Rs.5,00,000,000</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy, new apps, artificial intelligence and new technology.</p>
                  <div class="f2 mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p class="color-grey-60">Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                          <i class="material-icons md-18">star</i>
                          <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                      </a><!-- /.Icon -->
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div><!-- /.Grid-item -->

    </div><!-- /.Grid -->
</div><!-- /.Container -->
