<div class="Container Container--bg-grey">

    <div class="Grid">

        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card Card--radius Flex-row">
                <div class="Flex-column">
                    <div class="Card-thumb Card-thumb--landscape pa4">
                        <div class="Card-avatar">
                            <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                                <div class="Avatar--initials">SS</div>
                                <div class="Avatar--img Avatar--square"></div>
                            </div><!-- /.Avatar -->
                        </div><!-- /.Card-avatar -->
                        <div class="Progress">
                            <div class="Progress-bar Progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                        </div><!-- /.Progress -->
                    </div><!-- /.Card-thumb -->
              </div><!-- /.Flex-cell -->
              <div class="Flex-column">
                    <article class="pa4">
                        <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                        <p class="Card-description mt3">Comprising of three, three bedroom apartments and three two bedroom apartments this secure, modern development has the design team's signature architectural finish, attention to detail.</p>
                        <div class="Card-grid Card-grid--4 mt3">
                            <div class="Card-grid-item">
                                <span class="Card-value"><strong>£25,000</strong></span>
                                <p class="Card-label">Min. Investment</p>
                            </div><!-- /.Card-grid-item -->
                            <div class="Card-grid-item">
                              <span class="Card-value"><strong>£1,000,000</strong></span>
                              <p class="Card-label">Needed</p>
                            </div><!-- /.Card-grid-item -->
                            <div class="Card-grid-item">
                              <span class="Card-value"><strong>80%</strong></span>
                              <p class="Card-label">Raised</p>
                            </div><!-- /.Card-grid-item -->
                            <div class="Card-grid-item">
                              <span class="Card-value"><strong>53</strong></span>
                              <p class="Card-label">Days left</p>
                            </div><!-- /.Card-grid-item -->
                        </div><!-- /.Card-grid -->
                        <div class="Card-location mt3">
                            <i class="material-icons md-18">location_on</i>
                            <p class="ml4">449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                        </div>
                        <div class="Card-actions mt3">
                          <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                          <a href="#" class="Icon Icon--s Button Button--secondary Button--icon mr1"><i class="material-icons md-18">star</i></a>
                          <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">delete</i></a>
                        </div><!-- /.Card-actions -->
                    </article><!-- /.Card-content -->
                </div><!-- /.Flex-cell -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->

        <!-- grid item, containing a card -->
        <div class="item-2">
            <div class="Card Card--landscape Card--radius">
                <div class="Card-thumb Card-thumb--landscape pa4">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--square"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->
                    <div class="Progress">
                        <div class="Progress-bar Progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                    </div><!-- /.Progress -->
                </div><!-- /.Card-thumb -->

                <article class="pa4">
                    <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                    <p class="Card-description mt3">Comprising of three, three bedroom apartments and three two bedroom apartments this secure, modern development has the design team's signature architectural finish, attention to detail.</p>
                    <ul class="Card-list mt3 ml4">
                        <li> £35k revenues in 4-month Beta trial </li>
                        <li> 430 educators in 33 countries already using HowNow </li>
                        <li> 100% client retention with very positive feedback </li>
                        <li> Clients include Jessops and SOAS </li>
                        <li> £750k of £1m round already committed </li>
                    </ul>
                    <div class="Card-grid Card-grid--3 mt3">
                        <div class="Card-grid-item">
                            <span class="Card-value"><strong>£25,000</strong></span>
                            <p class="Card-label">Min. Investment</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-value"><strong>£1,000,000</strong></span>
                          <p class="Card-label">Needed</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                          <span class="Card-value"><strong>80%</strong></span>
                          <p class="Card-label">Raised</p>
                        </div><!-- /.Card-grid-item -->
                    </div><!-- /.Card-grid -->
                    <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon mr1"><i class="material-icons md-18">star</i></a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon mr1"><i class="material-icons md-18">delete</i></a>
                    </div><!-- /.Card-actions -->
                </article><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div>

        <!-- grid item, containing a card -->
        <div class="item-3">
            <div class="Card Card--landscape Card--radius">
                <div class="Card-thumb Card-thumb--landscape pa4">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--square"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->
                    <div class="Progress">
                        <div class="Progress-bar Progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
                    </div><!-- /.Progress -->
                </div><!-- /.Card-thumb -->

                <article class="pa4">
                    <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                    <p class="Card-description mt3">Comprising of three, three bedroom apartments and three two bedroom apartments this secure, modern development has the design team's signature architectural finish, attention to detail.</p>
                    <div class="Card-grid Card-grid--4 mt3">
                        <div class="Card-grid-item">
                            <p class=""><strong>GDV:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">£10,000,000</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Duration:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">17 Months</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Total:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">£5,000</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Equity Req:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">£10,000</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Min / investor:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">£1,000,000</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Returns:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">10%</p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class=""><strong>Funding Req:</strong></p>
                        </div><!-- /.Card-grid-item -->
                        <div class="Card-grid-item">
                            <p class="">Equity, Senior Debt, Mezzanine, Off Plan Sales</p>
                        </div><!-- /.Card-grid-item -->
                    </div><!-- /.Card-grid -->
                    <div class="Card-location mt3">
                        <i class="material-icons md-18">location_on</i>
                        <p class="ml4">Croydon, United Kingdom</p>
                    </div>
                    <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon mr1"><i class="material-icons md-18">star</i></a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">delete</i></a>
                    </div><!-- /.Card-actions -->
                </article><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->



    </div><!-- /.Grid -->
</div><!-- /.Container -->
