<div class="Container Container--bg-grey">
    <div class="Grid">
        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card">
                <div>
                    <div class="Flex-row">
                        <div class="Flex-column Flex--15">
                            <div class="Card-thumb pa4">
                                <div class="Card-avatar">
                                    <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                                        <div class="Avatar--initials">SS</div>
                                        <div class="Avatar--img Avatar--square"></div>
                                    </div><!-- /.Avatar -->
                                </div><!-- /.Card-avatar -->
                            </div><!-- /.Card-thumb -->
                        </div><!-- /.Flex-column -->
                        <div class="Flex-column Flex--25 ma4">
                            <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                            <div class="Card-location mt3">
                                <i class="material-icons md-18">location_on</i>
                                <p class="ml4">449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                            </div><!-- /.Card-location -->
                            <p class="mt2"><strong>Developer</strong></p>
                            <p class="Color--grey-dark">Evergreen Developments</p>
                        </div><!-- /.Flex-column -->

                        <div class="Flex-column ma4">
                            <div class="Select Select--default Select--m">
                                <select>
                                    <option value="">Messaging</option>
                                    <option value="">Documents Requested</option>
                                    <option value="">Reviewing Documents</option>
                                    <option value="">Meeting</option>
                                    <option value="">Due Diligence</option>
                                    <option value="">Contracts</option>
                                    <option value="">Offer Made</option>
                                    <option value="">Invested</option>
                                    <option value="">No Longer Interested</option>
                                </select>
                            </div><!-- /.Select -->
                            <div class="Card-text-links mt3">
                                <a class="Link Link--underline-hover Color--brand" href="#">View Full Listing</a>
                                <a class="Link Link--underline-hover Color--brand" href="#">View Message History</a>
                                <a class="Link Link--underline-hover Color--brand" href="#">Contact Developer</a>
                            </div>
                        </div><!-- /.Flex-column -->

                    </div><!-- /.Flex -->
                </div><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->
        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card">
                <div>
                    <div class="Flex-row">
                        <div class="Flex-column Flex--15">
                            <div class="Card-thumb pa4">
                                <div class="Card-avatar">
                                    <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                                        <div class="Avatar--initials">SS</div>
                                        <div class="Avatar--img Avatar--square"></div>
                                    </div><!-- /.Avatar -->
                                </div><!-- /.Card-avatar -->
                            </div><!-- /.Card-thumb -->
                        </div><!-- /.Flex-column -->
                        <div class="Flex-column Flex--25 ma4">
                            <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                            <div class="Card-location mt3">
                                <i class="material-icons md-18">location_on</i>
                                <p class="ml4">449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                            </div><!-- /.Card-location -->
                            <p class="mt2 Color--success"><i class="Marker Marker--success"></i>Your development is in draft</p>
                        </div><!-- /.Flex-column -->
                        <div class="Flex-column ma4">
                            <a href="#" class="Button Button--primary Button--m width-100">Publish</a>
                            <div class="Card-text-links mt3">
                                <a class="Link Link--underline-hover Color--brand" href="#">View Full Listing</a>
                                <a class="Link Link--underline-hover Color--brand" href="#">Edit Development</a>
                            </div>
                        </div><!-- /.Flex-column -->

                    </div><!-- /.Flex -->
                </div><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->
        <!-- grid item, containing a card -->
        <div class="item-1">
            <div class="Card">
                <div>
                    <div class="Flex-row">
                        <div class="Flex-column Flex--15">
                            <div class="Card-thumb pa4">
                                <div class="Card-avatar">
                                    <div class="Avatar Avatar--square Avatar--m" style="background: #4A8CFF;">
                                        <div class="Avatar--initials">SS</div>
                                        <div class="Avatar--img Avatar--square"></div>
                                    </div><!-- /.Avatar -->
                                </div><!-- /.Card-avatar -->
                            </div><!-- /.Card-thumb -->
                        </div><!-- /.Flex-column -->
                        <div class="Flex-column Flex--25 ma4">
                            <h3 class="Card-title"><a class="Link Link--underline-hover" href="#">Fusion Complex</a></h3>
                            <div class="Card-location mt3">
                                <i class="material-icons md-18">location_on</i>
                                <p class="ml4">449-453 West Derby Road, Liverpool L6 4BL, United Kingdom</p>
                            </div><!-- /.Card-location -->
                            <p class="mt2 Color--success"><i class="Marker Marker--success"></i>Currently Fundraising</p>
                            <div class="Card-grid Card-grid--5 mt3">
                                <div class="Card-grid-item">
                                    <span class="Card-value"><strong>£25,000</strong></span>
                                    <p class="Card-label">Min. Investment</p>
                                </div><!-- /.Card-grid-item -->
                                <div class="Card-grid-item">
                                  <span class="Card-value"><strong>£1,000,000</strong></span>
                                  <p class="Card-label">Needed</p>
                                </div><!-- /.Card-grid-item -->
                                <div class="Card-grid-item">
                                  <span class="Card-value"><strong>80%</strong></span>
                                  <p class="Card-label">Raised</p>
                                </div><!-- /.Card-grid-item -->
                                <div class="Card-grid-item">
                                  <span class="Card-value"><strong>53</strong></span>
                                  <p class="Card-label">Days left</p>
                                </div><!-- /.Card-grid-item -->
                                <div class="Card-grid-item">
                                  <span class="Card-value"><strong>2.5%</strong></span>
                                  <p class="Card-label">Equity</p>
                                </div><!-- /.Card-grid-item -->
                            </div><!-- /.Card-grid -->
                        </div><!-- /.Flex-column -->
                        <div class="Flex-column ma4">
                            <div class="Input-group Input-group--m">
                                <span class="Input-group__addon">£</span>
                                <input class="Input Input--default Input--m" type="text" placeholder="Enter Amount" id="textInput" />
                            </div>
                            <div class="mt2">
                                <a href="#" class="Button Button--primary Button--m width-100">Invest Now</a>
                            </div>
                            <div class="mt2">
                                <button class="Icon Icon--s Button Button--secondary"><i class="material-icons md-18">star</i></button>
                                <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">mail</i></button>
                                <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">remove_red_eye</i></button>
                            </div>
                        </div><!-- /.Flex-column -->

                    </div><!-- /.Flex -->
                </div><!-- /.Card-content -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->
    </div><!-- /.Grid -->
</div><!-- /.Container -->
