<div class="Container Container--bg-grey">

    <div class="Grid Grid--3">

        <!-- grid item, containing a card -->
        <div class="item-1">

            <div class="Card Card--radius">
                <div class="Card-thumb Card-thumb--portrait pa4">
                    <div class="Card-avatar">
                        <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                            <div class="Avatar--initials">SS</div>
                            <div class="Avatar--img Avatar--round"></div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.Card-avatar -->

                </div><!-- /.Card-thumb -->
                <article class="pa4">
                  <p class="Card-label">Investment Range</p>
                  <h3 class="Card-title"><a class="u-link--bare" href="#">£74,680 - £224,040</a></h3>
                    <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy, new apps, artificial intelligence and new technology.</p>
                    <div class="Card-expertise mt3">
                        <span><strong>Areas of Expertise</strong></span>
                        <p>Renewable Energy, Artificial Intelligence</p>
                    </div><!-- /.Card-expertise -->
                    <div class="Card-location mt3">
                        <i class="material-icons md-18">location_on</i>
                        <p class="ml4">London, UK</p>
                    </div>
                    <div class="mt3">
                      <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                      <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                      <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                    </div><!-- /.Card-actions -->
                </article><!-- /.pa4 -->
            </div><!-- /.Card -->
        </div><!-- /.item-1 -->

        <!-- grid item, containing a card -->
        <div class="item-2">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="Card-label">Investment Range</p>
                  <h3 class="Card-title"><a class="u-link--bare" href="#">£74,680 - £224,040</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector.</p>
                  <div class="Card-expertise mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p>Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                    <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                    <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                    <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div>

        <!-- grid item, containing a card -->
        <div class="item-3">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="Card-label">Investment Range</p>
                  <h3 class="Card-title"><a class="u-link--bare" href="#">£74,680 - £224,040</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy.</p>
                  <div class="Card-expertise mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p>Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                    <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                    <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                    <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div>

        <!-- grid item, containing a card -->
        <div class="item-4">
          <div class="Card Card--radius">
              <div class="Card-thumb Card-thumb--portrait pa4">
                  <div class="Card-avatar">
                      <div class="Avatar Avatar--round Avatar--m" style="background: #4A8CFF;">
                          <div class="Avatar--initials">SS</div>
                          <div class="Avatar--img Avatar--round"></div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Card-avatar -->

              </div><!-- /.Card-thumb -->
              <article class="pa4">
                  <p class="Card-label">Investment Range</p>
                  <h3 class="Card-title"><a class="u-link--bare" href="#">Rs.5,00,000,000 - Rs.5,00,000,000</a></h3>
                  <p class="Card-description mt3">I work in the transportation sector, but am very interested in energy, new apps, artificial intelligence and new technology.</p>
                  <div class="Card-expertise mt3">
                      <span><strong>Areas of Expertise</strong></span>
                      <p>Renewable Energy, Artificial Intelligence</p>
                  </div><!-- /.Card-expertise -->
                  <div class="Card-location mt3">
                      <i class="material-icons md-18">location_on</i>
                      <p class="ml4">London, UK</p>
                  </div>
                  <div class="mt3">
                    <a href="#" class="Button Button--primary Button--s mr1">Find out more</a>
                    <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                    <a href="#" class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></a>
                  </div><!-- /.Card-actions -->
              </article><!-- /.pa4 -->
          </div><!-- /.Card -->
        </div>

    </div><!-- /.Grid -->
</div><!-- /.Container -->
